.quiz_todo
{
padding: 10px;
margin: 10px;
border-radius: 10px;
border: 10px solid #8597C9;
}

.quiz_error
{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 10px solid #cf6a6a;
}

.quiz_headshot
{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 10px solid #83dd99;
}

.quiz_ok
{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 10px solid #539165;
}

.answers
{
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 15px;
    padding-top: 15px;
}


.answers p
{
    text-align: center;
    font-size: 1.2em;
}

.mcq_question
{
    font-weight: bold;
    font-size: 1.1em;
}

#justify
{
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 1.3em;
}

#justify p
{
    padding: 10px;
    flex: 1 1 0;
    max-width: 100%;
    overflow: auto;
}